.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao img {
    border-radius: 50px;
}

.introducao img:hover {
   border-radius: 10px;
   transition: 0.4s;
}

